.todos-container { 
	background: #ffffff;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0 0 5px 5px;
	border: solid 2px #f5f2f2;
	padding-top: 20px;
	padding-bottom: 20px;
}

.todos-container .no-todos {
	font-family: 'Mukta', sans-serif;
	font-weight: 600;
	padding: 20px;
	color: var(--dark-blue);
}

@media (max-width: 1200) {
	.todos-container {
		width: 80%;	
	}
}

@media (max-width: 850px) {
	.todos-container {
		width: 100%;	
		border-radius: 0;
	}
}