.todo-form {
	border: solid 2px var(--light-blue);
	border-radius: 5px;
	width: 50%;
	height: 20px;
	color: var(--darkest-blue);
	padding: 5px;
	margin-top: 20px;
}

.todo-form:focus {
	outline: none;
	box-shadow: 0 0 10px var(--lightest-blue);
}

@media (max-width: 850px) {
	.todo-form {
		width: 80%;
	}
}